/* General layout */
.dashboard-container {
  display: flex;
  height: calc(100vh - 56px);
  width: 100%;
}

/* Sidebar styles */
.sidebar {
  width: 150px;
  background-color: #205493;
  color: white;
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 0.5rem;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #4784c2;
  border-radius: 4px;
}

/* Main content styles */
.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.content-table {
  width: 100%;
  height: 100%;
}

.li-element {
  padding: 0 0.5rem;
  cursor: pointer;
}
