  /* Main content styles */
  .main-content-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Table styles */
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: red;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f4f4f4;
    
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }